@media (min-width: 768px){

.modal-dialog {
   width: 800px;
   margin: 100px auto;
}
}
.modal-body {
   /* height: 400px;*/
}
.modal-header .close {
    margin-top: -5px;
}
.pull-right-button-blr{
   margin-left : 53% !important;
}
.pull-left-button-msr{
   margin-left: 38% !important;
   margin-top: -4.3% !important;
}
.forgotDesign {
   
    margin-left: 150px;
}
@media screen and (min-width: 845px){

.margin-top-10px {
    margin-top: 10px;
}
}